* {
  padding: 0;
  margin: 0;
}
.main-container {
  padding: 30px 6%;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.band {
  color: black;
  font-weight: 900;
  font-size: 25px;
  cursor: pointer;
}
.band:hover {
  color: #ff900e;
}
.menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.menu a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  cursor: pointer;
  font-size: 18px;
}
.menu a:hover {
  color: #ff900e;
  transition: 0.6ms;
}
.banner {
  margin: 40px 0;
  text-align: center;
}
.banner-title {
  font-size: 35px;
  font-weight: 900;
}
.banner-text {
  line-height: 25px;
  margin-top: 10px;
}
.banner-btn {
  margin: 30px 0;
}
.btn {
  padding: 15px;
  color: #fff;
  background-color: #ff900e;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  background-color: red;
}
.banner-img {
  max-width: 1200px;
  max-height: 400px;
}

/* =========== Media Query ============ */
@media (max-width: 576px) {
  .main-container {
    padding: 5% 3%;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .band {
    text-align: center;
    padding-bottom: 20px;
    font-size: 28px;
  }
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .banner-img {
    max-width: 300px;
    height: 200px;
    margin: 0 auto;
  }
}
@media (max-width: 300px) {
  .banner-img {
    width: 200px;
    height: 150px;
  }
}
